<div class="footer clearfloat box-s" id="footer">
    <ul>
        <li class="cur">
            <a href="{:U('Home/Index/index')}">
                <p class="icon12"></p>
                <p class="tit">首页</p>
            </a>
        </li>
        <li>
            <a href="{:U('Cate/cateList',[row['id']])}">
                <p class="icon13"></p>
                <p class="tit">分类</p>
            </a>
        </li>
        <li>
            <a href="shopcar.html">
                <p class="icon14"></p>
                <p class="tit">购物车</p>
            </a>
        </li>
        <li>
            <a href="p-center.html">
                <p class="icon15"></p>
                <p class="tit">个人中心</p>
            </a>
        </li>
    </ul>
</div>